In [6]:
import pandas as pd

In [7]:
import numpy as np

In [8]:
df = pd.read_csv("Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv")
# Let's preview the first 10 rows of our data
df.head(10)

,District,Urban/Rural,Age_years,Male,Female,Total,County,Province,OBJECTID
0,NAIROBI WEST,Urban,0,10126,10116,20242,Nairobi,NAIROBI,0
1,NAIROBI WEST,Urban,1,8124,7989,16113,Nairobi,NAIROBI,1
2,NAIROBI WEST,Urban,2,8462,8627,17089,Nairobi,NAIROBI,2
3,NAIROBI WEST,Urban,3,8334,8420,16754,Nairobi,NAIROBI,3
4,NAIROBI WEST,Urban,4,7948,7820,15768,Nairobi,NAIROBI,4
5,NAIROBI WEST,Urban,5,7547,7660,15207,Nairobi,NAIROBI,5
6,NAIROBI WEST,Urban,6,6966,7082,14048,Nairobi,NAIROBI,6
7,NAIROBI WEST,Urban,7,6511,6674,13185,Nairobi,NAIROBI,7
8,NAIROBI WEST,Urban,8,6171,6489,12660,Nairobi,NAIROBI,8
9,NAIROBI WEST,Urban,9,6361,6662,13023,Nairobi,NAIROBI,9

In [9]:
# We can getting to know more about the dataset by accessing its information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25420 entries, 0 to 25419
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     25420 non-null  object
 1   Urban/Rural  25420 non-null  object
 2   Age_years    25420 non-null  object
 3   Male         25420 non-null  int64
 4   Female       25420 non-null  int64
 5   Total        25420 non-null  int64
 6   County       25420 non-null  object
 7   Province     25420 non-null  object
 8   OBJECTID     25420 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.7+ MB

In [9]:
df.info

<bound method DataFrame.info of            District Urban/Rural Age_years   Male  Female  Total   County  \
0      NAIROBI WEST       Urban         0  10126   10116  20242  Nairobi
1      NAIROBI WEST       Urban         1   8124    7989  16113  Nairobi
2      NAIROBI WEST       Urban         2   8462    8627  17089  Nairobi
3      NAIROBI WEST       Urban         3   8334    8420  16754  Nairobi
4      NAIROBI WEST       Urban         4   7948    7820  15768  Nairobi
...             ...         ...       ...    ...     ...    ...      ...
25415    TESO SOUTH       Rural        77     99      86    185    Busia
25416    TESO SOUTH       Rural        78     63      47    110    Busia
25417    TESO SOUTH       Rural        79     90     121    211    Busia
25418    TESO SOUTH       Rural       80+    384     391    775    Busia
25419    TESO SOUTH       Rural    Age NS     25      23     48    Busia

      Province  OBJECTID
0      NAIROBI         0
1      NAIROBI         1
2      NAIROBI         2
3      NAIROBI         3
4      NAIROBI         4
...        ...       ...
25415  WESTERN     25415
25416  WESTERN     25416
25417  WESTERN     25417
25418  WESTERN     25418
25419  WESTERN     25419

[25420 rows x 9 columns]>

In [13]:
df.nunique()

District         158
Urban/Rural        2
Age_years         82
Male            3798
Female          3819
Total           5696
County            47
Province           8
OBJECTID       25420
dtype: int64

In [15]:
df['Age_years'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45',
       '46', '47', '48', '49', '50', '51', '52', '53', '54', '55', '56',
       '57', '58', '59', '60', '61', '62', '63', '64', '65', '66', '67',
       '68', '69', '70', '71', '72', '73', '74', '75', '76', '77', '78',
       '79', '80+', 'Age NS'], dtype=object)

In [18]:
#number of rows that have Age NS
df1=df[df['Age_years']=='Age NS']
df1.shape

(310, 9)

In [19]:
#number of rows with 80+
df2 = df[df['Age_years']=='80+']
df2.shape

(310, 9)

In [20]:
#values convertible to integers
values = df.loc[(df['Age_years']!='Age NS') & (df['Age_years']!='80+')]
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24800 entries, 0 to 25417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     24800 non-null  object
 1   Urban/Rural  24800 non-null  object
 2   Age_years    24800 non-null  object
 3   Male         24800 non-null  int64
 4   Female       24800 non-null  int64
 5   Total        24800 non-null  int64
 6   County       24800 non-null  object
 7   Province     24800 non-null  object
 8   OBJECTID     24800 non-null  int64
dtypes: int64(4), object(5)
memory usage: 1.9+ MB

In [21]:
values['Age_years'] = pd.to_numeric(values['Age_years'])
values.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24800 entries, 0 to 25417
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   District     24800 non-null  object
 1   Urban/Rural  24800 non-null  object
 2   Age_years    24800 non-null  int64
 3   Male         24800 non-null  int64
 4   Female       24800 non-null  int64
 5   Total        24800 non-null  int64
 6   County       24800 non-null  object
 7   Province     24800 non-null  object
 8   OBJECTID     24800 non-null  int64
dtypes: int64(5), object(4)
memory usage: 1.9+ MB

C:\Users\pc\AppData\Local\Temp\ipykernel_3016\980982471.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  values['Age_years'] = pd.to_numeric(values['Age_years'])

In [22]:
#average mean of a person in kenya
values['Age_years'].mean()

39.5

In [23]:
#Challenge 2
# What was the average female population in Kenya?
df['Female'].mean()

763.8725019669552

In [24]:
# Challenge 3
# What was the average male population in Kenya?
df['Male'].mean()

755.0140833988985